
      .sent-btn{
        background-color: rgb(25,135,84);
        color: white;
        padding: 12px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
      }

      .chat-input{
        padding: 12px 15px;
        border-radius: 10px;
        border-width: 1px;
        font-size: 15px;
        flex-grow:1;

      }

      .input-container{
        display:flex;
        margin-bottom: 60px;
      }

      .App-container{
        max-width:600px;
        margin-left: auto;
        margin-right: auto;
        height:95vh;
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(25,135,84);
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 12px 15px;
        border-radius: 10px;

      }
      .usermsg{
        display: flex;
        justify-content: end;
        align-items: start;
      }
      .aimsg{
        display: flex;
        justify-content:start;
        align-items: start;

      }
      .msgtext{
        background-color: rgb(238,238,238);
        padding: 15px 20px;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        max-width: 300px;

      }
      .displaymsgcontainer{
        flex-grow: 1;
        margin-top: 20px;
        overflow: scroll;
        scrollbar-width: none;
      }